{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/stylebaru.css' %}" />
<div class="container" style="margin-top: 30px; text-align: justify">
  <div class="row">
    <div class="col-md-4">
      <center>
        <img src="{% static 'parisungaitutul.png' %}" class="img-fluid" style="width: 100%; border-radius: 10px; display: block; margin: auto" />
      </center>
    </div>
    <div class="col-md-8" id="isi">
      <b>Deskripsi</b><br /><br />

      <i>Fluvitrygon oxyrhynchus</i> merupakan jenis ikan pari yang hidup di air tawar dan memiliki nama lain Pari sungai tutul. Selain itu Fluvitrygon oxyrhynchus memiliki sinonim Himantura oxyrhyncha. Spesies ini memiliki ukuran tubuh
      dengan lebar (disc width)maksimal sekitar 37 cm. Pari Sungai Tutul dimanfaatkan sebagai ikan akuarium. Spesies ini juga dikonsusmsi oleh masyarakat sekitar sungai Kapuas dan Sungai Musi. IUCN memasukkan Pari Sunga Tutul dalam kategori
      Endangered. <br /><br />

      <b>Klasifikasi<br /></b><br />

      Kingdom : Animalia <br />

      Phylum : Chordata<br />

      Class : Chondrichthyes<br />

      Ordo : Myliobatiformes<br />

      Family : Dasyatidae<br />

      Genus : <i>Fluvitrygon<br /></i>

      Species : <i>Fluvitrygon oxyrhynchus</i> (Sauvage, 1878)<br />

      Sinonim : Homantura oxyrhyncha (Sauvage, 1878), Himantura krempfi (Chabanaud, 1923), Trygon oxyrhynchus Sauvage (1878)<br />

      Nama lokal : Pari sungai tutul<br /><br />

      <b>Morfologi<br /><br /></b>

      <i>Fluvitrygon oxyrhynchus</i> berbentuk oval dengan bagian depan lancip. Bagian punggungnya berwarna coklat dengan corak berupa spot-spot hitam, sedangkan bagian perut berwarna putih dengan bagian tepi berwarna kelabu atau kehitaman.
      Ekornya panjang seperti cambuk dengan pangkal yang lebar dan tidak memiliki selaput kulit pada ekornya. Pada bagian tengah punggung terdapat sebuah dentikel berbentuk bulat dan terdapat satu baris duri-duri kecil di sepanjang pangkal
      ekor pada ikan dewasa. Kedua mata relatif kecil dan tidak menonjol keluar. <br /><br />

      <b>Habitat<br /><br /></b>

      Pari Sungai Tutul memiliki habitat pada perairan tawar dan estuari dengan substrat yang lunak dan arus sungai yang tidak kencang dengan wilayah sebaran di Kalimantan dan Sumatera.<br />
    </div>
  </div>
</div>

{% endblock %}
