{% extends 'base.html' %} {% load static %} {% block content %} <br />
<div class="container">
  <h1>Tambah Data Ikan</h1>
  <div class="row">
    <div class="col-md-6">
      {% if pesan %}
      <script>
        swal("Berhasil!", "{{pesan}}", "success")
      </script>
      {% endif%}
      <form action="/tambah_data/" method="post">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Simpan" class="btn btn-sm btn-primary" />
        <a href="/halamanberanda" class="btn btn-sm btn-danger">Kembali</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
